*{
    margin:0;
    padding:0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%;
    min-height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(-315deg, #000000 15%, #7c579e 74%);    
    padding: 10px;
    color:white;
}

.logo{
    color: black;
}

.todo-app{
    width: 100%;
    max-width:540px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px ;
    border: white solid 2px;
    background-color: #4a484b;
}
.todo-icon{
    width: 45px;    
}

.todo-app h2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    }

.next_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 30px;
    padding-left:20px ;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 18px;
    
}

button{
    border: none;
    outline: none;
    background-color: #7c579e;
    color: white;
    border: 2px solid white;
   
   border-radius:210px;
   padding: 10px;
   font-weight: 700;
}


button:hover{
    color: white;
   background: transparent;
   border: 2px white solid;
   cursor: pointer;
}

ul li{
    list-style: none;
    font: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size:cover ;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color:#555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(check.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: white;
}

ul li span:hover{
    background:black; ;
}